
name: Deploy ArgoCD Ingress (via SSH)

on:
  workflow_dispatch: # manual trigger button

jobs:
  deploy-ingress:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Upload manifest
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ vars.DO_HOST }}
          username: ${{ vars.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          source: "manifests/argocd/argocd-server-ingress.yaml"
          target: "/home/${{ vars.DO_USER }}/argocd-server-ingress.yaml"

      - name: Apply manifest
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ vars.DO_HOST }}
          username: ${{ vars.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            cd /home/${{ vars.DO_USER }}
            export ARGOCD_HOST=${{ vars.ARGOCD_HOST }}
            envsubst < argocd-server-ingress.yaml > argocd-server-ingress-extended.yaml
            kubectl apply -f argocd-server-ingress-extended.yaml
